.header_ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.header_ul li {
	margin: 0 5px;
}

.header_ul li a {
	text-decoration: none;
}

.active {
	color: red !important;
	border-bottom: 1px solid red;
}
